.tweetBox {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-background);
  padding-right: 10px;
}
.tweetBox > form {
  display: flex;
  flex-direction: column;
}

.tweetboxInput {
  padding: 20px;
  display: flex;
}

.tweetboxInput > input {
  flex: 1;
  margin-left: 20px;
  margin-right: 20px;
  border: none;
}
.tweetboxImageInput{
    border: none;
    padding: 10px;

}

.tweetbox_button {
  background-color: var(--twitter-color) !important;

  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 80px !important;
  height: 40px !important ;
  margin-top: 20px !important;
  margin-left: auto !important;
}
