.widgets{
    flex: 0.2;
}

.widget__inputs{
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
}

.widget__inputs> input{
    border: none;
    background-color: var(--twitter-background);
}

.widgets__search{
    color: gray;
}

.widgets__container{
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: var(--twitter-background);
    border-radius: 20px;
}

.widgets__container > h2{
    font-size: 18px;
  font-weight: 800;
}